@page
@model UserModel
@{
}

@using HaloEzAPI.Model.Response.Stats.Halo5;
@using HaloEzAPI.Model.Response.MetaData.Halo5;

<div class="container">
  <div class="row">
    <div class="col-sm">
        <div style="background-color:lightgrey;">
        Last Games for @Model.GamerTag
        </div>
        <div>
            <label for="Arena">Arena</label>
        <input type="radio" value="Arena" selected>
        <label for="Custom Games">Custom Games</label>
        <input type="radio" value="Custom Games">
        </div>

            @foreach (var match in Model.Matches.Results)
        {
            <div>

                @foreach (MatchPlayer player in @match.Players)
                {
                    string mapId = Model.Maps.Where(map => map.Id == match.MapId).First().Name;
                    double KillsDeathsRatio; // double result = (double)a / b;

                    if (player.TotalKills == 0)
                    {
                        KillsDeathsRatio = 0;
                    }
                    else if (player.TotalDeaths == 0){
                        KillsDeathsRatio = 0;
                    }
                    else
                    {
                        KillsDeathsRatio = Math.Round((double)player.TotalKills / player.TotalDeaths, 2, MidpointRounding.AwayFromZero);
                    }

                    if (mapId == null){mapId = "Unknown";}

                    @player.Result @player.Rank

                    <div>
                        @mapId
                        K/D: @KillsDeathsRatio
                    </div>
                    <div>
                        Kills: @player.TotalKills
                        Assists: @player.TotalAssists
                        Deaths: @player.TotalDeaths
                    </div>
                    <br />
                }
            </div>
        }
    </div>
    <div class="col-sm">
    <div class="col">

<div style="background-color:lightgrey;">
        HCS Season ID / GameType / Map ID
        </div>
        @foreach (var match in Model.Matches.Results)
        {
            
            <div>

                @foreach (MatchPlayer player in @match.Players)
                {
                    <span>Use latest match endpoint instead</span>
                    @player.Player.Gamertag
                }
            </div>
            
        }

    </div><div class="col">
<div style="background-color:lightgrey;">
        Player Weapon Usage
        </div>
        <div>Some Gun</div>
        <div>Some Other Gun</div>
    </div>
    </div>
    <div class="col-sm">

      <div class="col">
<div style="background-color:lightgrey;">
        Player Slaying Stats
        </div>
        <div>Some Table of Stats and graphs</div>
    </div>
    <div class="col">
<div style="background-color:lightgrey;">
        Player Details @Model.GamerTag
        </div>
        <div>Specific Counts Table</div>
    </div>
    <div class="col">
<div style="background-color:lightgrey;">
        Head 2 Head
        </div>
        <div>Some One on One stats</div>
    </div>
    </div>
  </div>
</div>